
@import "~bootstrap/scss/bootstrap";

html, body {
    min-height: 100vh;
    width: 100vw;
}
.game_box {
    height: 40px;
    width: 40px;
    @extend .border;
}
/* Checkerboard pattern */
#game_board tbody tr:nth-child(odd) td:nth-child(odd),
#game_board tbody tr:nth-child(even) td:nth-child(even) {
    background-color: #444444;
}
#game_board tbody tr:nth-child(odd) td:nth-child(even),
#game_board tbody tr:nth-child(even) td:nth-child(odd) {
    @extend .bg-light;
}
/* Style for selecting & suggesting a box */
.selected_border {
    border: 3px solid #ccff15 !important;
}
.suggested_border {
    border: 3px solid #00ffff !important;
}
